Unstaged changes after reset:
M	AssemblyInfo/AssemblyInfo.cs
M	LongoMatch.Plugins.GStreamer/LongoMatch.Plugins.GStreamer.csproj
M	LongoMatch.Plugins.GStreamer/packages.config
M	LongoMatch.Plugins.Stats/LongoMatch.Plugins.Stats.csproj
M	LongoMatch.Plugins.Stats/packages.config
M	LongoMatch.Plugins/LongoMatch.Plugins.csproj
